

.paint-container {
    margin: 0 auto;
    max-width: 750px;
    height: 470px;
    border-radius: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 15px 0px #536adeb5;
    border: grey 0.15vmin solid;
}

.PaintBox {
    padding-bottom: 50px;
}

@media screen and (max-width: 500px) {
  .paint-container {
      max-width: 300px;
      margin: 0 auto;
      padding: 0;
  }
}
