.clearAll-btn {
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 0px 0px 0px 40px;
    background-color: #9A27D2;
    color: #FFFFFF;
     font-size: 15px;
    font-family: 'system-ui';
    font-weight: 400;
}

.clearAll-btn:hover {
    background-color: #b153e0;
}