

.dropdown-item {
    display: inline !important;
    color: #fff !important;
}

.dropdown-menu:hover, .dropdown-item:hover, .btn:hover {
background-color: #4d7fd6 !important;
}

.dropdown-menu {
    border-radius: 0 !important;
    position: absolute;
    left: -2px !important;
    border: none !important;
     background-color: #0069d9 !important;
     min-width: 115px;
}

.btn {
    width: 110px;
    height: 40px;
    border-radius: 0 !important;
    
}

btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: none !important;
}