footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 180px;
    width: 100%;
    padding-top: 25px;
    background:   rgba(107, 35, 159, 0.982);
    text-align: center !important;
}

.footer-title {
      font-family: 'Rubik', sans-serif;
      font-size: 18px;
      color: #FFFFFF;
      font-weight: 300;
}

 .footer-div span {
    font-family: 'Urbanist', sans-serif;
    size: 15px;
    color: #FFFFFF;
    font-weight: 350;
}

.footer-link {
    display: inline;
}


.footer-logo {
    width: 40px;
    height: 40px;
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 15px;
}
