:root {
  --blue: #4383FF;
  --purple: #9A27D2;
  --green: #10C03B;
  --orange: #FFA101;
  --red: #FF0401;
  --black: rgba(0, 0, 0, 0.6);
  --white: rgba(255,255,255, 0.9);
  --footer-violet: #4B35B0;
  --nav-link-hover: #555;
  --shadow: rgba(0, 0, 0, 0.25);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS rules to specify families
font-family: 'Catamaran', sans-serif; */
h1, h2, h3, h4 {
    line-height: 1.3;
    /* font-family: 'Rubik', sans-serif; */
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

img.l-page-icons {
  width: 82px;
}

img.profile-picture {
  width: 222px;
}
/* ↑↑↑↑↑ ===== End general styles. ===== ↑↑↑↑↑ */

.landing-page {
  max-width: 1100px;
  margin: auto;
  /* overflow: hidden; */
  padding: 0 2rem;
}

/* ↓↓↓↓↓ ===== Landing Section ===== ↓↓↓↓↓*/
/* button */
div.landing-page > button.project-button {
  display: inline-block;
  padding: 0.4em 2.5em;
  margin: 0.7em auto;
  border: none;
  border-radius: 500px;
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 4px 4px var(--shadow);
  transition-duration: 0.4s;
}

div.landing-page > button.project-button:hover {
  border: 2px solid var(--blue);
  background-color: var(--white);
  color: var(--blue);
  box-shadow: none;
}

@media all and (max-width:30em) {
  div.landing-page > button.project-button {
    display:block;
    margin: 0.4em auto;
  }
}
/* ↑↑↑↑↑ ===== End Landing Section ===== ↑↑↑↑↑ */

/* ↓↓↓↓↓ ===== Challenge Section ===== ↓↓↓↓↓ */
/* ↑↑↑↑↑ ===== End Challenge Section ===== ↑↑↑↑↑ */

/* ↓↓↓↓↓ ===== Process Section ===== ↓↓↓↓↓ */
/* ↑↑↑↑↑ ===== End Process Section ===== ↑↑↑↑↑ */

/* ↓↓↓↓↓ ===== Tech Section ===== ↓↓↓↓↓ */
/* ↑↑↑↑↑ ===== End Tech Section ===== ↑↑↑↑↑ */

/* ↓↓↓↓↓ ===== Team Section ===== ↓↓↓↓↓ */
/* ↑↑↑↑↑ ===== End Team Section ===== ↑↑↑↑↑ */

/* ↓↓↓↓↓ ===== Result Section ===== ↓↓↓↓↓ */
/* ↑↑↑↑↑ ===== End Result Section ===== ↑↑↑↑↑ 
